/*style.css*/

body {
	color:blue;
	background-color:black;
}

.header {
	text-align: center;
}

.labels {
	width:100%;
	height: 35px;
	position:relative;
}

.labels > .you {
	position:absolute;
	left: 0px;
	width:50%;
	height: 100%;
	font-size:30px;
}

.labels > .comp {
	position:absolute;
	left: 50%;
	width:50%;
	height: 100%;
	font-size: 30px;
}

button {
	background-color:red;
	font-size: 25px;
	font-weight:bold;
	color:DarkBlue;
}

.content {
	width:100%;
	height:500px;
	position:relative;
}

.player {
	position: absolute;
	left:0px;
	width: 50%;
	height: 100%;
}

.computer {
	position:absolute;
	left:50%;
	width:50%;
	height:100%;
}

.computer-pics {
	height:90%;
	width:100%;
}

.player-pics {
	height:90%;
	width:100%;
}

.player > .player-pics > .rock-pic, .paper-pic, .scissors-pic {
	height:100%;
	width:100%;
	display:none;
}

.computer > .computer-pics > .rock-pic, .paper-pic, .scissors-pic {
	height:100%;
	width:100%;
	display:none;
}

.rock-pic {
	background-image: url("images/rock.jpg");
	background-size: 100% 100%;
}

.scissors-pic {
	background-image: url("images/scissors.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
}

.paper-pic {
	background-image: url("images/paper.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;

}

.buttons {
	padding-top:10px;
	height:10%;
	text-align: center;
}


.footer {
	height:100px;
	width:100%;
}

.score-box {
	height:100%;
	width:30%;
	margin:0 auto;
	position:relative;
}

.player-wins, .computer-wins, .ties {
	position:absolute;
	height:100%;
	width:33%;
	text-align:center;
}

.player-wins {
	left:0px;
}

.computer-wins {
	left:33%;
}

.ties {
	left:67%;
}

#score-box p {
	font-size:20px;
	font-weight:bold;
	font-style:italic;
}